BraveSoftware/Brave-Browser
go/telemetry/local
pnpm
pulse
Thunar
dconf
git
xfce4/xfconf/xfce-perchannel-xml
configstore/
pavucontrol.ini
htop/htoprc
*.log
*.cache
*.tmp
google-chrome
obs-studio
thorium
vlc
Cursor
ClickUp
Electron
/PhaserEditor-desktop
/autostart
/chromium/NativeMessagingHosts
/clawhub
/cursor
/gcloud
/gh
/microsoft-edge/NativeMessagingHosts
/opera/NativeMessagingHosts
/systemd/user
/turborepo
/vivaldi/NativeMessagingHosts
/wizards-game-asset-manager
/about-gpu-2026-02-06T12-44-20-412Z.txt
/mimeapps.list
/test.json
